<footer class="site-footer h-card">
  <data class="u-url" href="{{ " /" | relative_url }}"></data>

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title | escape }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
            {{ site.author | escape }}
            {%- else -%}
            {{ site.title | escape }}
            {%- endif -%}
          </li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
          <li>s'abonner via <a href="{{ " /feed.xml" | relative_url }}">RSS</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>Ce site est privé. Les opinions exprimées sont les miennes et en aucun cas au nom de mon employeur.<br />
          Les cookies de ce site sont destinés à un usage exclusivement technique (télémétrie, performance). La
          télemetry est assurée par <a
            href="https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview"
            target="_blank">Application Insights</a></p>
      </div>
    </div>

  </div>

</footer>