---
layout: default
---

<div class="home">
  {%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {%- for post in site.posts -%}
    <li style="display: block; overflow: auto;">
      {%- if post.thumb -%}
      <img src="{{ post.thumb }}" class="post-thumb" />
      {%- endif -%}
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      <div class="post-meta-right">

        {%- if post.author -%}
        by <span class="post-meta">{{ post.author }}</span><span>, </span>
        {%- endif -%}
        on <span class="post-meta">{{ post.date | date: date_format }}</span> 
        | Tags : 
        <ul class="tag">
          {%- for tag in post.tags -%}
          <li>{{ tag }}</li>
          {%- endfor -%}
        </ul>
      </div>
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}

</div>